@import "https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap";
:root {
  --color-black: hsl(0, 0%, 10%);
  --color-white: hsl(0, 0%, 100%);
  --color-darken: hsl(0, 0%, 20%);
  --color-pink-100: hsl(336, 95%, 94%);
  --color-pink-200: hsl(338, 91%, 87%);
  --color-pink-300: hsl(339, 90%, 81%);
  --color-pink-400: hsl(339, 88%, 74%);
  --color-pink-500: hsl(339, 82%, 67%);
  --color-pink-600: hsl(339, 76%, 59%);
  --color-pink-700: hsl(339, 67%, 52%);
  --color-pink-800: hsl(339, 68%, 45%);
  --color-pink-900: hsl(339, 69%, 38%);
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}
html {
  font-size: 100%;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  scroll-behavior: smooth;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  color: var(--color-black);
  background: var(--color-white);
}
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes slideRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes slideRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
.container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}
.brand {
  font-family: "Rubik", sans-serif;
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -1px;
  color: var(--color-pink-600);
  text-transform: uppercase;
}
.header {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  z-index: 100;
  background: var(--color-white);
}
.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 17%;
  flex: 0 0 17%;
}
.header-item-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 17%;
  flex: 0 0 17%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.header-item-right .menu-icon {
  font-size: 1.35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 1rem;
  color: var(--color-black);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .menu > ul > li {
  display: inline-block;
  line-height: 3.125rem;
  margin-left: 1.5rem;
}
.header .menu > ul > li > a {
  position: relative;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  border: none;
  outline: none;
  color: var(--color-black);
  text-transform: capitalize;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.header .menu > ul > li .menu-subs {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 1.75rem;
  padding: 1rem 2rem;
  z-index: 109;
  opacity: 0;
  visibility: hidden;
  border-radius: 0.25rem;
  border-top: 3px solid var(--color-pink-600);
  background: var(--color-white);
  -webkit-box-shadow: var(--shadow-medium);
  box-shadow: var(--shadow-medium);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .menu > ul > li .menu-subs > ul > li {
  line-height: 1;
}
.header .menu > ul > li .menu-subs > ul > li > a {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  padding: 0.75rem 0;
  border: none;
  outline: none;
  color: var(--color-black);
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .menu > ul > li .menu-column-1 {
  min-width: 16rem;
  max-width: 20rem;
}
.header .menu > ul > li .menu-subs.menu-mega {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.header .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li {
  display: block;
  line-height: 1;
}
.header .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li > a {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  padding: 0.5rem 0;
  border: none;
  outline: none;
  color: var(--color-black);
  text-transform: capitalize;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.header .menu > ul > li .menu-subs.menu-column-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 68rem;
  width: 100%;
  padding: 1.25rem 1rem;
}
.header .menu > ul > li .menu-subs.menu-column-4 > .list-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  padding: 0 1rem;
}
.header .menu > ul > li .menu-subs.menu-column-4 > .list-item .title {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  padding: 0.75rem 0;
  color: var(--color-pink-700);
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header
  .menu
  > ul
  > li
  .menu-subs.menu-column-4
  > .list-item.text-center
  .title {
  text-align: center;
}
.header .menu > ul > li .menu-subs.menu-column-4 > .list-item img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0.75rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.header .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li > a:hover,
.header .menu > ul > li .menu-subs > ul > li > a:hover {
  color: var(--color-pink-700);
}
.header-item-right a:hover,
.header .menu > ul > li:hover > a {
  color: var(--color-pink-700);
}
.header .menu-mobile-header,
.header .menu-mobile-toggle {
  display: none;
}
@media screen and (min-width: 993px) {
  .header .menu > ul > li.menu-item-has-children:hover .menu-subs {
    margin-top: 0.5rem;
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 992px) {
  .header-item-center {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .header-item-left,
  .header-item-right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.5rem 0;
  }
  .header .menu-mobile-toggle {
    position: relative;
    display: block;
    cursor: pointer;
    width: 1.75rem;
    height: 1rem;
    border: none;
    outline: none;
    margin-left: 1.25rem;
    margin-top: -0.25rem;
    background: none;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }

 
  .header .menu-mobile-toggle span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    border: none;
    outline: none;
    opacity: 1;
    border-radius: 0.25rem;
    background: white;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .header .menu-mobile-toggle span:nth-child(1) {
    top: 0;
  }
  .header .menu-mobile-toggle span:nth-child(2),
  .header .menu-mobile-toggle span:nth-child(3) {
    top: 0.5rem;
  }
  .header .menu-mobile-toggle span:nth-child(4) {
    top: 1rem;
  }
  .header-item-right {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    z-index: 111;
    overflow: hidden;
    background: var(--color-white);
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header .menu.active {
    -webkit-transform: translate(0%);
    transform: translate(0%);
  }
  .header .menu > ul > li {
    display: block;
    line-height: 1;
    margin: 0;
  }
  .header .menu > ul > li > a {
    display: block;
    line-height: 3.125rem;
    height: 3.125rem;
    padding: 0 3.125rem 0 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .header .menu > ul > li > a i.ion {
    position: absolute;
    font-size: 1.25rem;
    line-height: 3.125rem;
    top: 0;
    right: 0;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .header .menu .menu-mobile-header {
    position: relative;
    position: sticky;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 0;
    height: 3.125rem;
    z-index: 110;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--color-white);
  }
  .header .menu .menu-mobile-header .menu-mobile-arrow {
    display: none;
    font-size: 1.25rem;
    line-height: 3.125rem;
    width: 3.125rem;
    height: 3.125rem;
    cursor: pointer;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--color-black);
  }
  .header .menu .menu-mobile-header.active .menu-mobile-arrow {
    display: block;
  }
  .header .menu .menu-mobile-header .menu-mobile-title {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: inherit;
    color: var(--color-black);
    text-transform: capitalize;
  }
  .header .menu .menu-mobile-header .menu-mobile-close {
    font-size: 2.25rem;
    line-height: 3.125rem;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--color-black);
  }
  .header .menu .menu-section {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 0 !important; 
  }
  .header .menu > ul > li .menu-subs {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    max-width: none;
    min-width: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    padding-top: 4rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .header .menu > ul > li .menu-subs.menu-mega {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    max-width: none;
    min-width: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    padding-top: 4rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .header .menu > ul > li .menu-subs.active {
    display: block;
  }
  .header .menu > ul > li .menu-subs.menu-column-4 > .list-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding: 0rem;
  }
  .header .menu > ul > li .menu-subs.menu-column-4 > .list-item img {
    margin-top: 0;
  }
  .header
    .menu
    > ul
    > li
    .menu-subs.menu-column-4
    > .list-item.text-center
    .title {
    margin-bottom: 1.25rem;
  }
  .header
    .menu
    > ul
    > li
    .menu-subs.menu-column-4
    > .list-item.text-center:last-child
    .title {
    margin-bottom: 0rem;
  }
  .header .menu > ul > li .menu-subs > ul > li > a {
    display: block;
  }
  .header .menu > ul > li .menu-subs.menu-mega > .list-item > ul {
    margin-bottom: 1rem;
  }
  .header .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li > a {
    display: block;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.65);
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
  }
  .overlay.active {
    opacity: 1;
    visibility: visible;
  }
}

.header {
  background-color: #0465d2;
}
.active {
  position: fixed;
  top: 0;
}
.header-item-left {
  display: flex;
  align-items: center;
  background-color: #025bbf;

}
.nav-icon i {
  margin-right: 20px;
  color: white;
}
.header-item-center a {
  color: white;
  text-decoration: none;
}
#it-phot {
  width: 51%;
  height: 100px;
  object-fit: contain;
}
#view {
  color: darkorange;
  margin-bottom: 20px;
}
#comp {
  color: rgb(255, 255, 255);
}
.phone-icon {
  display: none;
}
.phone-logo {
  display: none;
}
@media (max-width: 996px) {
  .center {
    display: none;
  }
  .wrapper {
    display: block;
  }
  #comp {
    color: black;
  }
  .phone-icon {
    display: block;
  }
  p {
    display: none;
  }
  .top-end {
    margin-left: 100px;
    margin-top: 0px;
    padding: 15px;
  }
  .header-item-left {
    display: none;
  }
  .phone-logo {
    display: block;
  }
}
  #hero {
    background-color: #f4f3f1;
    padding: 7rem 0;
  }
  #hero img {
    margin-left: 51px;
  }
  .hero-text span {
    color: #140088;
  }
  .hero-text h1 {
    margin-top: 86px;
    margin-bottom: 31px;
    font-size: 76px;
  }
  .hero-text h2 {
    margin-bottom: 22px;
    font-weight: 400;
  }
  .hero-text p {
    margin-bottom: 55px;
  }

  .shop {
    margin-left: 20px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #0464d2;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .shop:hover {
    background-color: #252525;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .shop:active {
    transform: translateY(-1px);
  }
  html {
    scroll-behavior: smooth;
  }

  body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

  section.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container {
    max-width: 1100px;
  }

  p {
    text-align: justify;
    text-align-last: center;
    font-family: "Arial", sans-serif;
    font-size: 1rem;
    padding: 1rem;
  }

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.blink-1 {
  -webkit-animation: blink-1 0.6s infinite;
  animation: blink-1 0.6s infinite;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

svg {
  width: 9rem;
  cursor: pointer;
}

.vibrate-1 {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

.flicker-3 {
  -webkit-animation: flicker-3 2.5s linear infinite both;
  animation: flicker-3 2.5s linear infinite both;
}

ol,
ul {
  padding-left: 0rem ;
  margin-right: -42px;
}
#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px;  
  right: 30px;  
  z-index: 99;  
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.slider-arrow-left{
  background-color: white;
  margin-left: 11px;
  color: grey;
  transition: .5s;
}
.slider-arrow-right{
  background-color: white;
  margin-left: 11px;
  color: grey;
  transition: .5s;
}
.slider-arrow-right:hover{
  color:darkorange;
}
.slider-arrow-left:hover{
  color:darkorange;
}
.slider-arrow-left, .slider-arrow-right{
  position: absolute;
  bottom: 0;

background-color: #fff;
padding: 8px;
width: 40px;
height: 40px;
top: 40;
}

.slider-arrow-left {
right: 50%;
}

.slider-arrow-right {
left: 50%;
}

.drpdwn-category {
  padding: 0 72px 0 25px;
  height: 78px;
  line-height: 78px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  background: #025bbf;
  border: none;
}
.drpdwn-category span {
  margin: 0 10px;
}
.category-menu {
  position: absolute;
  top: 100%;
  z-index: 9999;
  background: #fff;
  padding: 15px 0;
  width: 100%;
}
.category-menu > li {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 5px 50px 5px 20px;
  border: 1px solid transparent;
  width: 100%;
  cursor: pointer;
}

.category-menu > li a {
  color: #7d7d7d;
}

.category-menu > li:hover {
  background: #f2f1f1;
  border: 1px solid #e2e2e2;
}
.category-menu > li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}
.category-menu .has-dropdown > a::before {
  content: "\f105";
  position: absolute;
  right: 20px;
  font-size: 12px;
  font-family: "font awesome 5 free";
  font-weight: 700;
}
.category-menu .has-dropdown:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.category-menu .has-dropdown .mega-menu {
  position: absolute;
  left: 100%;
  width: 70%;
  top: 0;
  background: #fff;
  box-shadow: 0 1px 16px 0 rgba(220, 220, 220, 0.47);
  border: 1px solid var(--theme-gray);
  width: 750px;
  padding: 0 20px;
  padding-bottom: 20px;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.3s linear;
  z-index: 1;
}
.category-menu .has-dropdown .mega-menu .banner-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 184px;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 30px;
  color: #fff;
}
.category-menu .has-dropdown .mega-menu .banner-image h3:first-child {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.category-menu .has-dropdown .mega-menu .banner-image1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 184px;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 30px;
  color: #fff;
  width: 30%;
}
.category-menu .has-dropdown .mega-menu .banner-image1 h3:first-child {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.category-menu .has-dropdown .mega-menu .menu-title {
  color: #252525;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.category-menu .has-dropdown .mega-menu .menu-rows {
  display: flex;
  flex-wrap: wrap;
}
.category-menu .has-dropdown .mega-menu .menu-row {
  width: calc(100%/3);
  margin: 25px 0;
}
.category-menu .has-dropdown .mega-menu .menu-item {
  margin-top: 10px;
  font-size: 13px;
}
.header_bottom .header_bottom_left .nice-select {
  background: #025bbf;
  border: 1px solid #025bbf;
  border-radius: 0%;
  padding: 0 72px 0 25px;
  height: 78px;
  line-height: 78px;
  font-size: 14px;
  font-weight: 500;
}
.header_bottom .header_bottom_left .nice-select .current {
  color: #fff;
}

.bottom-header {
  background: #0465d2;
  height: 78px;
}


.bottom-header .menu-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bottom-header .menu-nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.bottom-header .menu-nav .nav-links .menu-item {
  display: block;
}
.bottom-header .menu-nav .nav-links .menu-item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 78px;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  padding: 0 15px;
}
.bottom-header .menu-nav .nav-links .menu-item > a:hover::before {
  background-color: #f7ba01;
  opacity: 1;
}
.bottom-header .menu-nav .nav-links .menu-item > a::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  width: 100%;
  bottom: 0;
  border-radius: 3px 3px 0 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
}
.bottom-header .menu-nav .nav-links .menu-item > a i {
  margin-left: 10px;
}
.bottom-header .menu-nav .nav-links .menu-item:hover .submenu,
.bottom-header .menu-nav .nav-links .menu-item:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.bottom-header .menu-nav .nav-links .menu-item .mega-menu {
  padding: 0 !important;
}
.bottom-header .menu-nav .nav-links .menu-item .mega-menu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.bottom-header .menu-nav .nav-links .menu-item .mega-menu-item {
  padding: 20px !important;
}
.bottom-header .menu-nav .nav-links .menu-item .mega-menu-item > a {
  display: block;
  margin: 0 0 15px;
  color: #252525;
  font-size: 14px;
  font-weight: 500;
}
.bottom-header .menu-nav .nav-links .menu-item .mega-menu-item ul {
  list-style-type: none;
  padding: 0;
}
.bottom-header .menu-nav .nav-links .menu-item .mega-menu-item ul li {
  padding: 7px 0;
  font-size: 13px;
}
.bottom-header .menu-nav .nav-links .menu-item .mega-menu-item ul li a {
  color: #6e6e6e;
  font-weight: 300;
}
.bottom-header .menu-nav .nav-links .menu-item .mega-menu .menu-banner {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 440px;
  height: 100%;
  margin-left: auto;
}
.bottom-header .menu-nav .nav-links .menu-item .submenu,
.bottom-header .menu-nav .nav-links .menu-item .mega-menu {
  position: absolute;
  z-index: 9;
  background-color: #fff;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.25);
  display: block;
  left: 0;
  opacity: 0;
  padding: 18px 0;
  right: 0;
  top: 100%;
  visibility: hidden;
  min-width: 230px;
  border: 1px solid #f5f5f5;
  background: #ffffff;
  margin: 0;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  list-style: none;
}
.bottom-header .menu-nav .nav-links .menu-item .submenu li {
  text-align: left;
  cursor: pointer;
}
.bottom-header .menu-nav .nav-links .menu-item .submenu li:hover > a {
  color: #0163d2;
}
.bottom-header .menu-nav .nav-links .menu-item .submenu li > a {
  padding: 0 10px 0 25px;
  line-height: 33px;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #7d7d7d;
}
.header-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-category .category-toggler {
  display: block;
  padding: 0 72px 0 25px;
  height: 78px;
  line-height: 78px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  background: #025bbf;
}
.header-category .category-toggler span {
  margin: 0 18px;
}